* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}
a  {
    color: white;
    text-decoration: none;
}
.container {
    max-width: 1800px;
    margin: auto;
}
.container-form{
    max-width: 1420px;
    margin: auto;
}
#navbar {
    background-color: #333;
    color: #fff;
    height: 75px;
    padding-top: 20px;
}
#navbar h1 {
    float: left;
    padding-left: 100px;
}

#navbar ul {
    float: right;
    list-style: none;    
}

#navbar ul li {
    float: left;
    margin-top: 5px;
    margin-right: 50px;
}

#navbar ul a  {
    padding: 15px;
}

#navbar ul a:hover {
    background-color: rgb(89, 89, 89);
    color: #f7c08a;
}
.text-primary {
    color: #f7c08a;
    line-height: 3.0em;
    margin-left: 70px;
    font-size: 25px;
}
.form-primary {
    color: #615b5b;
    line-height: 1.75em;
    margin-left: 20px;
    font-size: 20px;
}
.form-content .form-name{
    margin-left: 20px;
    margin-bottom: 20px;
}
.form-content .form-name input{
    width: 100%;
    padding: 10px;
}
.form-content .form-messages input{
    width: 100%;
    padding: 100px;
    padding-left: 10px;
    padding-top: 5px;
}
.form-content .form-messages{
    margin-left: 20px;
    margin-bottom: 20px;
    resize: both;
    overflow: auto;
}
.form-content button {
    background-color: #333;
    display: block;
    width: 7%;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 20px;
}
#features {
    text-align: center;
}
.box {
    float: left;
    width: 33.33%;
    padding: 50px;  
    background-color: #333;
    color: rgb(246, 246, 246);
    max-height: 220px;
}
.box i {
    font-size: 50px;
    margin-bottom: 10px;
}
.box p{
    margin-top: 30px;
    
}